/* Custom properties */

:root {
  --card-background-color: #b5b5b5;
  --card-outline-color: #acacac;
  --card-link-color: #00ffff;
  --input-background-color: #ffffff;
  --font-color-dark: #050505;
}

.form-holder {
  background-color: var(--card-background-color);
  border-radius: 3px;
  min-width: 300px;
  max-width: 500px;
  margin: 60px 0 30px 0;
  padding: 10px 20px 10px 10px;
  outline: 2px solid var(--card-outline-color);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

form {
  padding-top: 20px;
}

input,
textarea {
  padding: 4px 0 4px 5px;
  max-width: 500px;
  width: 100%;
  border: none;
  border-radius: 3px;
  color: var(--font-color-dark);
  background-color: var(--input-background-color);
}

input {
  min-height: 20px;
}

textarea {
  min-height: 100px;
  margin-bottom: 10px;
}
