.header-logo {
  padding-right: 10px;
  flex: 1;
}

.header-nav {
  flex: 1;
  display: flex;
  gap: 30px;
}

.header-empty-bar {
  flex: 1;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }
}

/* 
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* .nav-button {
  background-color: var(--button-bg-color);
  border-radius: 8px;
  padding: 0 12px 0 10px;
}

.nav-button a:hover {
  transform: none;
}

.nav-button:hover {
  transform: none;
  padding: 0 12px 0 10px;
  border-radius: 10px;
  background-color: var(--button-bg-color-hover);
  transition: background-color 0.25s;
} */
