/* Custom properties */
:root {
  --font-color: #050505;
  --button-bg-color: #00ffff;
  --button-bg-color-hover: #b5b5b5;
}

.header-logo {
  padding-left: 20px;
}

.header-logo,
.header-center-nav,
.header-right-nav {
  flex: 1;
  color: var(--font-color);
}

.nav-button {
  background-color: var(--button-bg-color);
  border-radius: 8px;
  padding: 0 12px 0 10px;
}

.nav-button a:hover {
  transform: none;
}

.nav-button:hover {
  transform: none;
  padding: 0 12px 0 10px;
  border-radius: 10px;
  background-color: var(--button-bg-color-hover);
  transition: background-color 0.25s;
}
