/* Reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --button-hover-color: #636363;
  --font-color-dark: #050505;
  --app-background-color: #dbdbdb;
  --link-bg-color: #00ffff;
  --link-bg-color-hover: #b5b5b5;
  --button-bg-color: #00ffff;
  --button-bg-color-hover: #777777;

  /* Global properties */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.02rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--app-background-color);
}

/* Global layout */
html,
body {
  height: 100%;
}

header {
  display: flex;
  background-color: var(--app-background-color);
  border-top: 20px solid black;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

/* Elements */

p {
  color: var(--font-color-dark);
}

a {
  font-size: 1.4em;
  color: var(--font-color-dark);
  text-decoration: none;
  cursor: default;
}

label {
  font-size: 0.9em;
  color: var(--font-color-dark);
}

h1,
h2,
h3 {
  color: var(--font-color-dark);
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

nav a:last-child {
  margin-left: auto;
}

.button-highlight {
  font-size: 1.4em;
  border: none;
  color: var(--font-color-dark);
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  background-color: var(--button-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  main {
    justify-content: center;
    align-items: center;
  }

  header {
    align-items: center;
    flex-direction: column;
  }

  .main-sidebar {
    padding: 0 10px 0 10px;
    flex: 0;
  }

  nav {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  nav a:last-child {
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 1.6em;
  }
}
