/* Reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Custom properties */
:root {
  --app-background-color: #dbdbdb;
  --border-top-color: #333333;
  --font-color-dark: #333333;

  /* Global properties */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.02rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333333;
  background-color: var(--app-background-color);
}

/* Global layout */

/* html {
  scrollbar-gutter: stable;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  background-color: var(--app-background-color);
  border-top: 25px solid var(--border-top-color);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

/* Elements */

p {
  color: var(--font-color-dark);
}

label {
  font-size: 0.9em;
  color: var(--font-color-dark);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

/* Navigation elements */

a {
  text-decoration: none;
  color: var(--font-color-dark);
  cursor: pointer;
}
a:visited {
  text-decoration: none;
  color: var(--font-color-dark);
}

nav a:last-child {
  margin-left: auto;
}

/* Mediaqueries */

@media (max-width: 1400px) {
  header {
    padding-top: 27px;
  }
  h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 1000px) {
  main {
    justify-content: center;
    align-items: center;
  }

  header {
    align-items: center;
    flex-direction: column;
  }

  .main-sidebar {
    padding: 0 10px 0 10px;
    flex: 0;
  }

  nav {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  nav a:last-child {
    margin-left: 0;
  }
}
