/* Custom properties */

:root {
  --card-background-color: #b5b5b5;
  --card-outline-color: #acacac;
  --card-link-color: #00ffff;
  --cards-max-width: 600px;
}

.projects-preview-card {
  display: flex;
  flex-direction: column;
  max-width: var(--cards-max-width);
  background-color: var(--card-background-color);
  border-radius: 5px;
  margin: 30px 0 0 0;
  padding: 25px 25px 15px 25px;
  /* outline: 2px solid var(--card-outline-color); */
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.image-container img {
  border-radius: 5px;
  float: left;
  margin: 0 20px 10px 0;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgb(146, 146, 146);
}

.card-description {
  font-size: 0.8em;
}

@media (max-width: 1000px) {
  .projects-preview-card {
    flex-direction: column;
    justify-content: flex-start;
  }

  .image-container {
    justify-content: center;
  }
}
