/* Custom properties */

:root {
  --app-background-color: #dbdbdb;
  --card-background-color: #b5b5b5;
  --card-border-color: #b5b5b5;
  --card-link-color: #00ffff;
  --cards-max-width: 600px;
}

.projects-page-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: var(--cards-max-width);
  padding: 10px 0 15px 0;
  background-color: var(--app-background-color);
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
}

.image-large-container img {
  border-radius: 20px;
}

.image-large-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.card-large-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px 50px 0 50px;
  width: 100%;
}

.card-large-links a {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
}

.card-large-subtitle {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.card-large-subtitle {
  padding-top: 20px;
}

.card-large-description {
  font-size: 0.8em;
  padding: 0 60px 0 60px;
}

.card-large-skills {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0 0 15px 0;
  margin: 30px 30px 0 30px;
}

@media (max-width: 600px) {
  .projects-page-card {
    width: 280px;
  }

  .image-large-container img {
    max-width: 220px;
    max-height: 220px;
  }

  .card-large-description {
    padding: 0 0 0 10px;
  }
}
