/* Custom properties */

:root {
  --card-background-color: #b5b5b5;
  --card-border-color: #757575;
  --card-link-color: #00ffff;
}

.projects-page-card {
  display: flex;
  flex-direction: column;
  width: 540px;
  background-color: var(--card-background-color);
  border-radius: 3px;
  padding: 30px 0 15px 0;
  margin: 30px 0 20px 0;
  outline: 2px solid #acacac;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.image-large-container img {
  border-radius: 20px;
}

.image-large-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-large-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px 30px 0 30px;
  width: 100%;
}

.card-large-links a {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
}

.card-large-title {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.card-large-description {
  font-size: 0.8em;
  padding: 20px 60px 0 60px;
}

.card-large-skills {
  border-top: 1px solid var(--card-border-color);
  display: flex;
  gap: 15px;
  padding: 15px 0 0 0;
  margin: 30px 30px 0 30px;
}
