/* Custom properties */

:root {
  --card-background-gradient: linear-gradient(330deg, #a1a1a1 10%, #bdbdbd 90%);
  --card-outline-color: #a3a3a3;
  --card-links-border-color: #868686;
  --cards-max-width: 600px;
}

.projects-preview-card {
  display: flex;
  flex-direction: column;
  max-width: var(--cards-max-width);
  border-radius: 15px;
  margin: 30px 0 0 0;
  padding: 25px 25px 15px 25px;
  box-shadow: 2px 4px 3px rgba(49, 49, 49, 0.5);
  background-image: var(--card-background-gradient);
  outline: 1px solid var(--card-outline-color);
}

.image-container img {
  border-radius: 5px;
  float: left;
  margin: 0 20px 10px 0;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--card-links-border-color);
}

.card-description {
  padding-top: 10px;
  font-size: 0.8em;
}

.icon-nav-item {
  font-size: 1.8em;
  vertical-align: middle;
}

.text-nav-item svg,
.collapse-nav svg {
  color: var(--button-bg-color);
}

@media (max-width: 1000px) {
  .projects-preview-card {
    flex-direction: column;
    justify-content: flex-start;
  }
}
