/* Custom properties */

:root {
  --card-background-color: #b5b5b5;
  --card-link-color: #00ffff;
}

.projects-preview-card {
  display: flex;
  flex-direction: row;
  background-color: var(--card-background-color);
  border-radius: 3px;
  margin: 30px 0 0 0;
  padding: 30px;
  outline: 2px solid #acacac;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.left-container {
  display: flex;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 30px;
}

.image-container img {
  border-radius: 20px;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}

.project-links a {
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
}

.description-link {
  display: flex;
  align-items: center;
  justify-content: end;
  min-width: 100%;
}

.card-title {
  font-weight: 700;
  padding-bottom: 3px;
}

.card-description {
  font-size: 0.8em;
  padding-top: 5px;
}

.card-description-content {
  font-size: 1em;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}
