/* Custom properties */

:root {
  --card-background-gradient: linear-gradient(330deg, #e9e9e9 10%, #e6e6e6 90%);
  --card-outline-color: red;
  --card-links-border-color: #868686;
  --font-color-dark: #333333;
  --cards-max-width: 600px;
}

.project-card-small h4 {
  margin-top: 30px;
}

.project-card-small li {
  margin-left: 24px;
}

.project-card-small {
  display: flex;
  flex-direction: column;
  max-width: var(--cards-max-width);
  border-radius: 15px;
  margin: 30px 0 0 0;
  padding: 25px 25px 15px 25px;
  box-shadow: 2px 4px 3px rgba(153, 153, 153, 0.5);
  background-image: var(--card-background-gradient);
  
  /* Pakt variabele niet */
  outline: 1px solid var(--card-outline-color); 
}

.project-card-small__image-container img {
  border-radius: 5px;
  float: left;
  margin: 0 20px 10px 0;
}

.project-card-small__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  gap: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid var(--card-links-border-color);
}

.project-card-small__description {
  padding-top: 10px;
  font-weight: 500;
  font-size: 0.8em;
}

.project-card-small__icon-nav-item {
  vertical-align: middle;
  margin: -2px -5px 0 0;
}

.project-card-small__read-nav-item {
  margin: 0 0 0 -7px;
  font-weight: 700;
}

.project-card-small__text-nav-item {
  font-weight: 700;
}

.project-card-small__text-nav-item svg {
  color: var(--font-color-dark);
}

@media (max-width: 1000px) {
  .projects-preview-card {
    flex-direction: column;
    justify-content: flex-start;
  }
}
