/* Custom properties */
:root {
  --border-color: #727272;
  --border-radius: 5px;
  --font-color-dark: #333333;
  --cards-max-width: 600px;
}

.toggle-all-projects-button {
  display: flex;
  justify-content: flex-end;
  max-width: var(--cards-max-width);
}

.collapse-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--font-color-dark);
  margin-bottom: 5px;
  width: 100px;
  font-size: 0.8em;
}

main:last-child {
  margin-bottom: 30px;
}

.projects-card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  max-width: var(--cards-max-width);
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  cursor: default;
  color: var(--font-color-dark);
  background-color: var(--card-background-color);
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s ease-in-out;
}

.project-item > * {
  color: var(--font-color-grey);
  font-weight: 400;
}

.project-item:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.project-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.project-item:hover {
  background-color: var(--link-bg-color);
}

.project-big-card {
  padding-top: 0;
  background-color: var(--card-background-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.project-item.open .project-big-card {
  max-height: 1000px;
}

@media (max-width: 600px) {
  .projects-card-holder {
    font-size: 0.8em;
  }
}
