.header__logo {
  flex: 1;
}

.header__nav {
  flex: 1;
  display: flex;
  gap: 30px;
}

.header__empty-bar {
  flex: 1;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
  }
}
